{"filter":false,"title":".gitconfig","tooltip":"~/.gitconfig","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1450254760772,"hash":"348be94ce58d9545408fd937d60c04e2295ddd29"}